# Data Preparation & Machine Learning CA2

In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('NHANES_age_prediction.csv')

In [3]:
df.head()

,SEQN,age_group,RIDAGEYR,RIAGENDR,PAQ605,BMXBMI,LBXGLU,DIQ010,LBXGLT,LBXIN
0,73564.0,Adult,61.0,2.0,2.0,35.7,110.0,2.0,150.0,14.91
1,73568.0,Adult,26.0,2.0,2.0,20.3,89.0,2.0,80.0,3.85
2,73576.0,Adult,16.0,1.0,2.0,23.2,89.0,2.0,68.0,6.14
3,73577.0,Adult,32.0,1.0,2.0,28.9,104.0,2.0,84.0,16.15
4,73580.0,Adult,38.0,2.0,1.0,35.9,103.0,2.0,81.0,10.92

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2278 entries, 0 to 2277
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SEQN       2278 non-null   float64
 1   age_group  2278 non-null   object
 2   RIDAGEYR   2278 non-null   float64
 3   RIAGENDR   2278 non-null   float64
 4   PAQ605     2278 non-null   float64
 5   BMXBMI     2278 non-null   float64
 6   LBXGLU     2278 non-null   float64
 7   DIQ010     2278 non-null   float64
 8   LBXGLT     2278 non-null   float64
 9   LBXIN      2278 non-null   float64
dtypes: float64(9), object(1)
memory usage: 178.1+ KB

In [5]:
df.describe()

,SEQN,RIDAGEYR,RIAGENDR,PAQ605,BMXBMI,LBXGLU,DIQ010,LBXGLT,LBXIN
count,2278.000000,2278.000000,2278.000000,2278.000000,2278.000000,2278.000000,2278.000000,2278.000000,2278.000000
mean,78691.853819,41.795874,1.511414,1.822651,27.955180,99.553117,2.016242,114.978929,11.834794
std,2921.365151,20.156111,0.499979,0.398918,7.248962,17.889834,0.185556,47.061239,9.718812
min,73564.000000,12.000000,1.000000,1.000000,14.500000,63.000000,1.000000,40.000000,0.140000
25%,76171.750000,24.000000,1.000000,2.000000,22.800000,91.000000,2.000000,87.000000,5.860000
50%,78749.000000,41.000000,2.000000,2.000000,26.800000,97.000000,2.000000,105.000000,9.040000
75%,81213.500000,58.000000,2.000000,2.000000,31.200000,104.000000,2.000000,130.000000,14.440000
max,83727.000000,80.000000,2.000000,7.000000,70.100000,405.000000,3.000000,604.000000,102.290000

In [6]:
df['SEQN'].unique()

array([73564., 73568., 73576., ..., 83713., 83718., 83727.])

In [7]:
df['age_group'].unique()

array(['Adult', 'Senior'], dtype=object)

In [8]:
# Drop ID colum 
data = df.drop(columns=('SEQN'), index=0)
data.head()

  age_group  RIDAGEYR  RIAGENDR  PAQ605  BMXBMI  LBXGLU  DIQ010  LBXGLT  LBXIN
1     Adult      26.0       2.0     2.0    20.3    89.0     2.0    80.0   3.85
2     Adult      16.0       1.0     2.0    23.2    89.0     2.0    68.0   6.14
3     Adult      32.0       1.0     2.0    28.9   104.0     2.0    84.0  16.15
4     Adult      38.0       2.0     1.0    35.9   103.0     2.0    81.0  10.92
5     Adult      50.0       1.0     2.0    23.6   110.0     2.0   100.0   6.08

In [9]:
data.isnull().sum()

age_group    0
RIDAGEYR     0
RIAGENDR     0
PAQ605       0
BMXBMI       0
LBXGLU       0
DIQ010       0
LBXGLT       0
LBXIN        0
dtype: int64

In [12]:
data.duplicated()

1       False
2       False
3       False
4       False
5       False
        ...
2273    False
2274    False
2275    False
2276    False
2277    False
Length: 2277, dtype: bool

In [13]:
!pip install sklearn --user

Requirement already satisfied: sklearn in c:\users\lenovo\appdata\roaming\python\python311\site-packages (0.0.post11)

In [16]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

data.age_group = le.fit_transform(data.age_group)
data.RIAGENDR = le.fit_transform(data.RIAGENDR)

In [17]:
data.head()

,age_group,RIDAGEYR,RIAGENDR,PAQ605,BMXBMI,LBXGLU,DIQ010,LBXGLT,LBXIN
1,0,26.0,1,2.0,20.3,89.0,2.0,80.0,3.85
2,0,16.0,0,2.0,23.2,89.0,2.0,68.0,6.14
3,0,32.0,0,2.0,28.9,104.0,2.0,84.0,16.15
4,0,38.0,1,1.0,35.9,103.0,2.0,81.0,10.92
5,0,50.0,0,2.0,23.6,110.0,2.0,100.0,6.08